body{
    background-color:aqua;
}
div{
    color:black;
    font-size: xx-large; 
    margin-top: 100px;
    margin-left: 300px;
    font-style: italic;
}
a{
    color:black;
    font-size: xx-large; 
    margin-top: 100px;
    margin-left: 1px;
    font-style: italic;
}
form{
    text-align: center;
}